.onlight-grey{
background: #e0e0e0;
}
.onlight-blue{
    background:#40c4ff;
}
ul{
    list-style-type: none;
    padding:0;
    margin:0;
}
.black a {
    color:#212121
}
.black{
    color:#212121
}
.white{
  color: #fff
}
.white a {
    color:#fff
}
 .inherit-tag a{
    color: inherit;

 }
 a{
    text-decoration: underline;
 }
.onorange{
    background: #cc4e10;
}
.green{
    background:#326e1e;
}
.onteal{
    background:#00758c;
}
.ondarkgrey{
    background: #474747;
}
@media (max-width: 992px) { 



}
#block-webform-client-block-851 {
    background: #e0e0e0;
}
.form-item {
    margin: 1.5em 0;
}
.form-required {
    color: #c00;
}
.resizable-textarea .grippie {
    background: #eee url(../../misc/grippie.png) no-repeat center 2px;
    border: 1px solid #ddd;
    border-top-width: 0;
    cursor: s-resize;
    height: 9px;
    overflow: hidden;
}
.form-text, .form-textarea, input[type=text] {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: .5em .65rem;
}
input[type="submit"] {
    background: #227FA6;
    border: 1px solid #3FADD1;
}
.form-text, input[type=submit], input[type=text] {
    height: 40px;
}
input[type=submit] {
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    margin: 10px 0 0;
    padding: .6em 1em;
    text-transform: uppercase;
}
#footer {
    background: #212121;
    color: #fff;
    font-size: 14px;
    line-height: 1.2;
    overflow: hidden;
}
h3{
    font-family:"Roboto Condensed",sans-serif;
    font-weight:700;
    font-size:22px;
    line-height:28px ;
}
h2{
    font-family:"Roboto Condensed",sans-serif;
    font-weight:700;
    font-size:24px;
    line-height:31px ;
}
h1 a{
    font-family:"Roboto Condensed",sans-serif;
}

body{
    font: 100%/1.5 Lato,sans-serif;
    font-style: normal;
}
.title{
    font-family:"Roboto Condensed",sans-serif;
    font-weight:700;
    font-size:21px;
    line-height:27px ;
  
}
* {
    box-sizing: border-box; 
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
html,body {
    height: 100%
}
#site-name a {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fff;
    text-decoration: none;
}
#site-name {
    color: #fff;
    font: 100%/1.5 "roboto-condensed-reg",sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.8em;
    height:105px;
    line-height: 105px;
}
 #header-background-opacity {
    background-color: #212121;
    opacity: .55;
    margin: 0 auto;
    max-width: 1920px;
    width: 100%;
    height: 105px;
    position: absolute;
    z-index:3;
 }
 .header__site-name{
     z-index:999;
 }
#header-background {
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
    height:105px;
    width:100%;
    margin-top: -7.5px;
    background-image: url("../images/bigstock.jpg");
    z-index:2;
}

@media (max-width: 960px){
    #site-name {
    font-size: 2.6em;
}
}
@media (max-width: 720px){
    #site-name {
    font-size: 2em;
}
#header-background-opacity{
    background: #474747;
    opacity:1;
}
}
@media (max-width: 480px){
    #site-name {
    font-size: .75em;
}
}
@media (min-width: 720px){
    #footer .title, .h2, h2 {
        font-size: 1.4em;
        line-height: 1.3em;
    }
}
@media (min-width: 960px){
    #footer .title, .h2, h2 {
        font-size: 1.5em;
    }
}


/* roboto-condensed-regular - latin */
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-condensed-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
         url('../fonts/roboto-condensed-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-condensed-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-condensed-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-condensed-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-condensed-v18-latin-regular.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
  }
  /* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Lato Regular'), local('Lato-Regular'),
         url('../fonts/lato-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v16-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
  }/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Lato Regular'), local('Lato-Regular'),
         url('../fonts/lato-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v16-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
  }